<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameForum.mapper.UserMapper">
    <resultMap id="baseMap" type="com.gameForum.entity.UserDto">
    </resultMap>


    <select id="selectUserInfo" resultType="com.gameForum.entity.UserDto" resultMap="baseMap">
        SELECT count(*) as count_article,sum(likes) as total_likes FROM article WHERE article.user_id= #{userId} and deleted=0;
    </select>
</mapper>
